
@font-face {
  font-family: RochesterRegular;
  src: url("Rochester-Regular.ttf")
}

@font-face {
  font-family: GtSuperLight;
  src: url("GTSuperDisplayLight.ttf")
}

@font-face {
  font-family: AcuminProMedium;
  src: url("FontsFree-Net-Acumin-Pro-Medium-1.ttf")
}

body{
  background-color:#f2edea;
  font-size: 72px;
}

header{
  font-family:'RochesterRegular';
  color: #504644;
}
#name{
  font-size: .15em;
  display: inline-block;
  margin-left: 110px;
  margin-top: -800px;
  width: 20%;
}

#name a:link{
  color: #504644;
  text-decoration: none ;
}
#name a:visited{
color: #504644;
text-decoration: none;
}
.menu{
  margin-left: 60px;
  font-size: .1em;
  display: inline-block;
}

.menu a{
  font-family: 'GtSuperLight';
  color: #504644;
  text-decoration: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: -150px auto;
}

.mySlides {
  margin-top: 250px;
  text-align: center;
}
.mySlides img{
  width: 700px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-left: -50px;
  padding: 16px;
  color: #504644;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
  left: 100px;
}
.next {
  right: 50px;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.event-typ{
  font-family: 'GtSuperLight';
  text-align: center;
  margin-top: 350px;
  color: #504644;
}

.event-typ #based{
  font-size: .35em;
}
.event-typ #designer{
  font-size: .6em;
}
.event-typ #info{
  font-size: .35em;
}
.event-typ a:link {
  color: #504644;
  text-decoration: none;
}
.event-typ a:visited {
  color: #504644;
  text-decoration: none;
}

.services{
  font-family: 'GtSuperLight';
  text-align: center;
  color: #504644;
  margin-top: 200px;
}
.services h1{
  font-size: .6em;
  font-weight: normal;
}

.services ul{
  list-style: none;
}

.services ul li{
  font-size: .3em;
  margin-right:50px;
  display: inline-block;
}
.about{
  font-family: 'GtSuperLight';
  color: #504644;
  margin-top: 200px;
  height:300px;
}
.about img{
  width:250px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 50px;
}
.about h1{
  font-weight:normal;
  font-size:.6em;
  margin-top:-250px;
  margin-left: 400px;
}
.about p{
  text-align: left;
  font-size: .25em;
  width:50%;
  margin-left: 400px;
}

#contact{
  font-family: 'GtSuperLight';
  color: #504644;
  margin-top: 200px;

}
#contact h1{
  font-weight:normal;
  font-size:.6em;
  text-align: center;
}
#contact p{
  font-size: .25em;
  text-align: center;
}
#contact .link a:link{
    color: #504644;
    text-decoration: none;
}
#contact .link a:visited{
  color: #504644;
  text-decoration: none;
}

#contact ul{
  list-style: none;
  text-align: center;
  margin: auto;
}

#contact ul li{
  font-size: .25em;
  margin-right:50px;
  display: inline-block;
}
#contact img{
  width: 50px;
}

footer a{
  font-family: 'Courier New OS', monospace;
  font-weight: normal;
  font-size:.25em;
  text-decoration: none;
  color: #504644;
  text-align: center;
  margin-left: 315px;
  width: 500px;
}

@media screen and (max-width: 2560px){ 
  header{
    margin-left:375px;
  }
  .menu{
    margin-left: 100px;
    font-size: .25em;
  }
  #name{
    font-size: .35em;
    margin-left: 200px;
    margin-top: -800px;
    width: 20%;
  }

  .mySlides img{
    width: 1000px;
  }

  .prev{
    left: -10px;
  }
  .next {
    right: -50px;
  }
  
  .event-typ #based{
    font-size: .5em;
  }
  .event-typ #designer{
    font-size: .8em;
  }
  .event-typ #info{
    font-size: .5em;
  }

  .services h1{
    font-size: .8em;
  }
  
  .services ul li{
    font-size: .5em;
  }

  .about{
    font-family: 'GtSuperLight';
    color: #504644;
    margin-top: 200px;
    margin-left:400px;
    height:500px;
    width:70%;

  }
  .about img{
    width:450px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 200px;
  }
  .about h1{
    font-weight:normal;
    font-size:.8em;
    margin-top:-450px;
    margin-left: 800px;
  }
  .about p{
    text-align: left;
    font-size: .5em;
    width:50%;
    margin-left: 800px;
  }

  #contact h1{
    font-weight:normal;
    font-size:.8em;
    text-align: center;
  }
  #contact p{
    font-size: .5em;
    text-align: center;
  }
  
  #contact ul li{
    font-size: .5em;
    margin-right:50px;
    display: inline-block;
  }
  #contact img{
    width: 100px;
  }
  
  footer a{
    font-size:.4em;
    margin-left: 1050px;
  }
}

@media screen and (max-width: 2100px){ 
  header{
    margin-left:250px;
  }
  .menu{
    margin-left: 50px;
    font-size: .25em;
  }
  #name{
    font-size: .35em;
    margin-left: 150px;
    margin-top: -800px;
    width: 25%;
  }

  .mySlides img{
    width: 1000px;
  }

  .prev{
    left: -10px;
  }
  .next {
    right: -50px;
  }
  
  .event-typ #based{
    font-size: .5em;
  }
  .event-typ #designer{
    font-size: .8em;
  }
  .event-typ #info{
    font-size: .5em;
  }

  .services h1{
    font-size: .8em;
  }
  
  .services ul li{
    font-size: .5em;
  }

  .about{
    font-family: 'GtSuperLight';
    color: #504644;
    margin-top: 200px;
    margin-left:325px;
    height:500px;
    width:70%;

  }
  .about img{
    width:450px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 200px;
  }
  .about h1{
    font-weight:normal;
    font-size:.8em;
    margin-top:-450px;
    margin-left: 800px;
  }
  .about p{
    text-align: left;
    font-size: .5em;
    width:50%;
    margin-left: 800px;
  }

  #contact h1{
    font-weight:normal;
    font-size:.8em;
    text-align: center;
  }
  #contact p{
    font-size: .5em;
    text-align: center;
  }
  
  #contact ul li{
    font-size: .5em;
    margin-right:50px;
    display: inline-block;
  }
  #contact img{
    width: 100px;
  }
  
  footer a{
    font-size:.4em;
    margin-left: 800px;
  }
}

@media screen and (max-width: 1950px){ 
  header{
    margin-left:200px;
  }
  .about{
    font-family: 'GtSuperLight';
    color: #504644;
    margin-top: 200px;
    margin-left:150px;
    height:500px;
    width:70%;
  }
  footer a{
    position: absolute;
    margin-left: 700px;
  }
}

@media screen and (max-width: 1750px){ 
  header{
    margin-left:150px;
  }
  .menu{
    margin-left: 35px;
  }
  #name{
    margin-left: 150px;
    margin-top: -800px;
    width: 30%;
  }
  footer a{
    position: absolute;
    margin-left: 600px;
  }
}

@media only screen and (max-width: 1440px){
  header{
    margin-left: 100px;
  }
  .menu{
    margin-left: 40px;
    font-size: .2em;
  }
  #name{
    font-size: .3em;
    margin-left: 100px;
    margin-top: -800px;
    width: 30%;
  }

  .mySlides img{
    width: 800px;
  }

  .prev{
    left: 110px;
  }
  .next {
    right: 50px;
  }
  
  .event-typ #based{
    font-size: .4em;
  }
  .event-typ #designer{
    font-size: .7em;
  }
  .event-typ #info{
    font-size: .4em;
  }

  .services h1{
    font-size: .7em;
  }
  
  .services ul li{
    font-size: .35em;
  }

  .about{
    font-family: 'GtSuperLight';
    color: #504644;
    margin-top: 200px;
    margin-left:300px;
    height:400px;
    width:70%;

  }
  .about img{
    width:250px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 25px;
  }
  .about h1{
    font-weight:normal;
    font-size:.7em;
    margin-top:-300px;
    margin-left: 350px;
  }
  .about p{
    text-align: left;
    font-size: .4em;
    width:60%;
    margin-left: 350px;
  }

  #contact h1{
    font-weight:normal;
    font-size:.7em;
    text-align: center;
  }
  #contact p{
    font-size: .4em;
    text-align: center;
  }
  
  #contact ul li{
    font-size: .4em;
    margin-right:50px;
    display: inline-block;
  }
  #contact img{
    width: 50px;
  }
  
  footer a{
    font-size:.3em;
    margin-left:450px;
  }
}

@media screen and (max-width: 1380px){ 
  header{
    margin-left:100px;
  }
  .menu{
    margin-left: 35px;
    font-size: .15em;
  }
  #name{
    margin-left: 100px;
    margin-top: -800px;
    width: 35%;
  }
  footer a{
    margin-left: 425px;
  }
}

@media only screen and (max-width: 1300px){
  footer a{
    margin-left: 400px;
  }
}

@media only screen and (max-width: 1024px){
  header{
    margin-left: 80px;
  }
  .menu{
    font-size: .15em;
    margin-left: 2px;
  }
  #name{
    font-size: .2em;
    margin-top: -800px;
    width: 30%;
  }

  .mySlides img{
    width: 500px;
  }

  .prev{
    left: 250px;
  }
  .next {
    right: 200px;
  }
  
  .event-typ #based{
    font-size: .4em;
  }
  .event-typ #designer{
    font-size: .7em;
  }
  .event-typ #info{
    font-size: .4em;
  }

  .services h1{
    font-size: .7em;
  }
  
  .services ul li{
    font-size: .35em;
  }

  .about{
    font-family: 'GtSuperLight';
    color: #504644;
    margin-top: 200px;
    margin-left:100px;
    height:400px;
    width:80%;

  }
  .about img{
    width:250px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 25px;
  }
  .about h1{
    font-weight:normal;
    font-size:.7em;
    margin-top:-320px;
    margin-left: 350px;
  }
  .about p{
    text-align: left;
    font-size: .4em;
    width:60%;
    margin-left: 350px;
  }

  #contact h1{
    font-weight:normal;
    font-size:.7em;
    text-align: center;
  }
  #contact p{
    font-size: .4em;
    text-align: center;
  }
  
  #contact ul li{
    font-size: .4em;
    margin-right:50px;
    display: inline-block;
  }
  #contact img{
    width: 50px;
  }
  
  footer a{
    font-size:.3em;
    margin-left: 350px;
  }
}
